.nav{
    overflow: hidden;
    background-color: #1b1b1b;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 50px;
    z-index: 99 !important;
}
.nav h1{
    margin-left: 20px;
}
.nav ul{
    margin-right: 20px;
    display: flex;
    list-style: none;
}
.nav ul li {
    font-weight: bold;
    margin-right: 3em;
}
.nav a{
    color: #d9d9d9;
}
body{
    margin-top: 60px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; ;
    background-color: #292929;
    color: #d9d9d9
}
.headerImage{
    width: 100%;
    height: auto;
}
.jobTitle{
    font-size: 4em;
    text-align: center;
}
.jobSubTitle{
    font-size: 1.24em;
    text-align: center;
    margin-top: -15px;
}
.portrait{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*margin-top: 30px;*/
    align-items: center;

}
.portrait blockquote{
    font-style: italic;
    font-size: 1.25em;
    max-width: 600px;
}
.skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 7%;
    margin-top: -5%;
}
.skills div{
    display: flex;
    background-color: #b3b3b3;
    color: #292929;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 12px 7px #111111;
}
.hardSkills{
    margin: 20px;
}
.softSkills{
    margin: 20px;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio img{
    max-width: 350px;
    margin : 10px;
}
.projects{
    margin-top: 5%;
    text-align: center;
}
.projects h1{
    font-size: 3em;
}